.cartWrapper {
    color: #353131;
    padding: 16px;
    flex-grow: 1;
}

.totalWrapper {
    color: #353131;
    background: #c2c1c1;
    font-size: 32px;
    line-height: 1;
    border-radius: 4px;
}
