header {
    margin-bottom: 32px;
}

.cartLink {
    background: #eee;
    border-radius: 4px;
    padding: 17px 16px 16px 16px;
    position: relative;
}

.backLink {
    padding: 12px 0 12px;
}

.backLink img {
    width: 40px;
    height: auto;
}

.cartTotal {
    background: #EB5757;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}