@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

body.body-menu {
  background: #8ed8bf url('/bg.png') no-repeat center center;
  background-size: cover;
}
body.body-cart {
  background: #eee;
}
body.body-order,
body.body-receipt {
  background: #605858;
}

#root, #root > main, main > div {
  flex-grow: 1;
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-32 {
  font-size: 32px;
}

.text-26 {
  font-size: 26px;
}

.text-22 {
  font-size: 22px;
}

.text-15 {
  font-size: 15px;
}

h2, .text-header {
  font-size: 22px;
}

button {
  border-radius: 4px;
  text-transform: uppercase;
  color: #F4F3F1F0;
  background-color: #1a1a1a;
  cursor: pointer;
  font-size: 24px;
  padding: 24px;
}

button.outline {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
}

button a {
    color: inherit;
}

.loadingOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menuItemBorder {
  margin-bottom: 8px;
  margin-left: 20px;
  margin-right: 10px;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
}

.totalWrapper {
  color: #353131;
  background: #c2c1c1;
  line-height: 1;
  border-radius: 4px;
}

.dottedBorder {
  border-bottom: 1px dotted rgba(53, 49, 49, 0.24);
  margin-bottom: 1px;
}
